<div
    class="bg-[#ffe3a4] dark:bg-gray-800  col-span-2 rounded-[30px] relative h-[280px] hover:shadow-lg overflow-hidden">
    <div class="absolute right-0 z-30">
        <img class="w-[20rem] md:w-[28rem] h-48 sm:h-60 md:h-64 rounded-lg rotate-[-35deg]" src="assets/img/ghoomi.png"
            alt="hinez">
    </div>
    <div class="bg-[#ffc6d7]  dark:bg-gray-800 rounded-t-full w-56 h-28 lg:w-80 lg:h-44 absolute bottom-0">
    </div>
    <!-- right top arrow -->
    <a href="https://demo-movie-app-gamma.vercel.app" target="_blank"
        class="Btn bg-white duration-500 dark:bg-gray-700 absolute truncate m-4 whitespace-nowrap left-0 bottom-0  w-10 h-10 hover:w-28 hover:pl-2 flex justify-center items-center hover:justify-start rounded-full cursor-pointer ring-1 hover:ring-4 ring-gray-200 dark:ring-gray-400">
        <p class="text">Ghoomi-Ghoomi</p>
        <img class="w-5 lg:w-5" src="assets/img/arrow.svg" alt="">
    </a>
</div>